
@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('Franklin Gothic Demi Regular.ttf');
}
@font-face {
  font-family: 'Rockwell';
  src: url('rockwell.ttf');
}

html, body {
    /* malheureusement, par défaut, il faut reset les valeurs padding et margin des
    balises html et body qui ont des valeurs par défaut */
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Demi', arial;
}

/* le :hover permet de décrire l'état "la souris est sur le lien" de la balise a */
a:hover {
    color: grey;
}

/* le :visited permet de décrire l'état "le lien a déjà été cliqué" de la balise a */
a:visited {
    color: bisque;
}

h1 {
    color: black;
    font-size: 4.5em;
    margin-right:2vh;
}

h2 {
    font-size: 3em;
    margin-right:2vh;
}
h3{
  font-size: 2em;
  text-align:center;
  margin-bottom: 2vh;
  margin-top: 0;
}
.hover {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-top: 3vh;
  margin-left: 4vw;
}
.hover .indice{
  top: 50px;
  height: 100%;
  width: 100%;
 
  object-fit: cover;
  position : absolute;
  opacity: 0;
  transition: .5s ease;
}
.logo {
  transition: .5s ease;
}
.hover:hover .indice {
  opacity:1;
}
.hover:hover .logo {
  opacity: 0;
}

.menu1 {
  z-index: 2;
    display: grid;
    /* permet de décrire le nombre de colonnes de la grille, c'est à dire ici
    chaque colonne fait 1unité et il y a 3 colonnes */
    grid-template-columns: repeat(3, 1fr);
    /* cette propriété css permet d'aligner verticalement le contenu dans la cellule
    uniquement si display: grid; est présent, l'unité ou la largeur de la cellule sera déduite
    via la largeur totale de l'élément divisé par le nombre de colonnes */
    align-items: center;
    /* grid-gap permet de définir l'espace entre les cellules */
    grid-gap: 10px;
    width: 100%;
    height: 90px;
    background-color : rgb(206, 62, 57);
    border-top: solid black 1px;
    padding: 5px;
    padding-left: 5px;
    padding-top: 0;
    color: white;
    opacity: 1;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    box-shadow: 1px 10px 12px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=200, Strength=12);
    position:fixed;
    top:0;
}
.menu1 a {
    /* permet d'aligner horizontalement le contenu dans la cellule mais pour du texte */
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
    margin:0 4vw;
}

.main {
    display: grid;
    padding: 2vh;
    /* permet de décrire le nombre de colonnes de la grille, cad ici
    4 colonnes d'1 unité */
    grid-template-columns: repeat(4, 1fr);
    margin-top:90px;

    
}

.entete {
    /* permet de définir l'emplacement de l'élément dans son élément parent de type
    grille, ici l'emplacement commence à partir de la colonne 2 jusqu'à la dernière colonne */
    grid-column: 2/-1;
    text-align: right;
}

.content {
  font-family: 'Rockwell';
    grid-column: 2 / -2;
    font-size: 2em;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: -15vw;
    text-align:justify;

}
.contentReal {
  font-family: 'Rockwell';
  grid-column: 2 / -2;
  font-size: 2em;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: -15vw;
}
.realisationVideo {
  text-align: center;
}
.realisationVideo i{
  font-size: 0.8em;
}
.realisationVideo button{
  margin-bottom: 4vh;
}
.linksOut {
    grid-column: 1/1;
    margin-top: 10vh;
    margin-left: 10vw;
}
.linksOut img{
  margin-top: 4vh;
}

.over {
    display: grid;
    /* permet de décrire le nombre de colonnes et de lignes de la grille,
    ici 1 colonne et 1 ligne d'une unité de 1 */
    grid-template: repeat(1, 1fr);
}
.over svg{
  height:133px; 
  width:100%;
}

/* ce sélecteur permet de sélectionner tous les éléments directement enfants de tous
les éléments ayant la classe over en attribut */
.over > * {
    /* pour superposer les enfants, tous les enfants sont placés sur la première
    colonne et sur la première ligne */
    grid-row: 1;
    grid-column: 1;
}
.card-image img{
  margin-top: 5vh;
  border-radius: 2vh;
  overflow: hidden;
	background: #fff;
	box-shadow: 0vh 2vh 10vh rgba(255,255,255,1);
	text-align: center;
	transition: 0.5s ease;
}

.card-image img:hover{
	transform: scale(1.1);
	box-shadow: 1vh 10vh 50vh rgba(0,0,0,0.9);
}
.card-link{
  border-radius: 2vh;
  overflow: hidden;
	background: #fff;
	box-shadow: 0vh 2vh 10vh rgba(255,255,255,1);
	text-align: center;
  transition: 0.5s ease;
  max-width: 128px;
}

.card-link:hover{
	transform: scale(1.1);
  box-shadow: 1vh 4vh 50vh rgba(0,0,0,0.9);
  
}
.contentReal img{
  max-width: 500px;
  max-height: 500px;
}

.realisationVideo button {
  outline: none;
  background: none;
  border: none;
}

.realisationVideo video {
  max-width: 700px;
  max-height: 700px;
  position: fixed;
    top: 10vh;
    left: 40vw;
}
/* MODAL IMPORT BOOTSTRAP.CSS*/

.modal-open {
    overflow: hidden;
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 30vw;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  
  .modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  
  .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
  }
  
  .modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem);
  }
  
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }
  
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: "";
  }
  
  .modal-dialog-centered.modal-dialog-scrollable {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }
  
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }
  
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
  
  .modal-footer > * {
    margin: 0.25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
    .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
    }
    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 3.5rem);
    }
    .modal-dialog-centered {
      min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
      height: calc(100vh - 3.5rem);
    }
    .modal-sm {
      max-width: 300px;
    }
  }
  
  @media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1140px;
    }
  }


/** RESPONSIVE **/


  @media all and (max-width: 1180px) and (min-width: 981px)
{
  .realisationVideo video {
    max-width: 500px;
    max-height: 500px;
    position: fixed;
      top: 10vh;
      left: 40vw;
  }
  .contentReal img{
    max-width: 300px;
    max-height: 300px;
  }
}

@media all and (max-width: 980px)
{
  .contentReal {
    grid-column: 2 / -1;
    font-size: 1.5em;
    margin-top: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
 
  }
  .realisationVideo{
    margin-top: 2vh;
  }
  .realisationVideo video {
    max-width: 500px;
    max-height: 500px;
    position: fixed;
      top: 10vh;
      left: 40vw;
  }
  .contentReal img{
    max-width: 300px;
    max-height: 300px;
  }
  .card-link{
    max-width: 100px;
  }
  .linksOut{
    margin-left: 3vh;
    margin-top: -5vh;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  .content {
    grid-column: 2 / -1;
    font-size: 1.5em;
    margin-top: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .hover {
    margin: 0;
  }
  .hover .indice {
    top: 30px;
  }
  .over svg{
    height:100px; 
    
  }
}